---
layout: default
---

{% assign max_limit = 3 %}

<div id="home" class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 p-2">
    <div class="home-right-section mt-4">
      <div class="text-center">
        <h4>BLOGS</h4>
      </div>

      <div class="mt-4">
        <nav class="ml-3 blogs-list mb-4">
          <div class="nav nav-tabs nav-justified mt-1" id="blogs-tab" role="tablist">
            <a class="mr-2 active" data-toggle="tab" href="#blogs-latest" role="tab">
              Latest({{ max_limit }}) &nbsp;&nbsp;|
            </a>
            <a class="mr-2" data-toggle="tab" href="#blogs-tech" role="tab">
              Technical({{ max_limit }}) &nbsp;&nbsp;|
            </a>
            <a class="" data-toggle="tab" href="#blogs-nontech" role="tab">
              Non Technical({{ max_limit }})
            </a>
          </div>
        </nav>

        <div class="tab-content" id="blogs-tabContent">
          <div role="tabpanel" class="tab-pane fade show active" id="blogs-latest">
            {% for post in site.posts limit: max_limit %}
              {% include blogs/post-outline.html post=post %}
            {% endfor %}
          </div>
          <div role="tabpanel" class="tab-pane fade" id="blogs-tech">
            {% assign i = 0 %}
            {% for post in site.posts %}
              {% if post.technical and i < max_limit %}
                {% include blogs/post-outline.html post=post %}
                {% assign i = i | plus:1 %}
              {% endif %}
            {% endfor %}
          </div>
          <div role="tabpanel" class="tab-pane fade" id="blogs-nontech">
            {% assign i = 0 %}
            {% for post in site.posts %}
              {% if post.technical != 'true' and i < max_limit %}
                {% include blogs/post-outline.html post=post %}
                {% assign i = i | plus:1 %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="text-center"><a href="/blogs" role="button" class="btn btn-sm btn-dark mb-3">
        <i class="fas fa-list-alt mr-2"></i>View All</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-2">
    {% if site.data.projects.size >= 1 %}
      <!-- Projects -->
      <div class="home-right-section mt-4">
        <div class="text-center">
          <h4>LATEST PROJECTS</h4>
        </div>
        <div class="mt-4">
          {% for project in site.data.projects limit: max_limit %}
            {% include project-outline.html project=project %}
          {% endfor %}
        </div>
        <div class="text-center"><a href="/projects" role="button" class="btn btn-sm btn-dark mb-3">
            <i class="fas fa-list-alt mr-2"></i>View All</a>
        </div>
      </div>
    {% endif %}  
  </div> 
</div>

<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    
  </div>
</div>
