{% if paginator.total_pages > 1 %}
  <ul class="pagination justify-content-center pl-3">
    {% if paginator.first_page %}
    <li class="page-item previous">
      <a class="page-link" href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">First</a>
    </li>
    {% endif %}

    {% if paginator.previous_page %}
    <li class="page-item previous">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        <i class="fas fa-angle-double-left mr-1"></i>Newer
      </a>
    </li>
    {% endif %}

    {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
    <li {% if page.url == trail.path %}class="selected" {% endif %}>
      <a class="page-link" href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
    {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
    <li class="page-item next">
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        Older<i class="fas fa-angle-double-right ml-1"></i>
      </a>
    </li>
    {% endif %}

    {% if paginator.last_page %}
    <li class="page-item previous">
      <a class="page-link" href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">Last</a>
    </li>
    {% endif %}
  </ul>
{% endif %}
