<div class="project-card {{ include.col_class }}">
  <div class="card-body">
    <a class="project-title" href="{{ include.project.url }}" target="_blank">
      <div class="project-img">
        <img src="/assets/img/{{ include.project.img }}" class="img-fluid" />
      </div>
      <div class="project-card-title py-2 mr-2">
        {{ include.project.name }}
      </div>
    </a>

    <p class="project-card-text m-0">
      {{ include.project.description }}
      &nbsp;
      {% if include.project.src %}
        <a class="project-source" href="{{ include.project.src }}" target="_blank">
          <br>{ Source }</a>
      {% endif %}
    </p>
  </div>
</div>
