.role-content {
  box-shadow: 2px 2px 13px 5px rgba(216,216,216,0.78);
  margin-bottom: 1em;
  color: #777;
}
.role-content h4 {
  color: black;
}
.role-content p {
  font-size: 15px !important;
}
.role-card figure img {
  height: 80px;
}

.role-content .image-wrapper img {
  height: 80px;
  width: auto;
  box-shadow: none;
}

.role-content .role-desc {
  font-size: 14px;
}

.professional-journey {
  background: #eee;
}
