body {
  font-family: "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  background: #F5F5F5;
  box-shadow: 0px 0px 8px;

  .brand-logo {
    height: 100px;
    display: block !important;

    .image-wrapper {
      height: 100%;
    }

    img {
      height: 100%;
      padding: 5px;
    }
  }
}
.profile-img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.nav {
  .nav-item {
    .nav-link {
      color: #111;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  .nav-item.active .nav-link {
    font-weight: bold;
  }
}
.nav-tabs {
  border-color: transparent;
}

.navbar .nav {
  margin-top: 2em !important;
}

.social-links {
  font-size: 1.8em;
}
.fa-twitter {
  color: #38A1F3;
}
.fa-facebook-f {
  color: #4267b2;
}
.fa-github {
  color: #333;
}
.fa-linkedin-in {
  color: #0077B5
}
.fa-envelope {
  color: #777;
}
.fa-instagram {
  color: #E1306C;
}
.fa-rss-square {
  color: #ee802f;
}
.img-full-width {
  width: 100%;
}
.img-80p-width {
  width: 80%;
}
.img-full-height {
  height: 100%;
}
.goback-link {
  color: #007bff !important;
}
.home-right-section h4 {
  font-family: "Oswald", sans-serif;
}
.section-divider {
  border: 1px solid #ccc;
}

.p-6 {
  padding: 5em;
}
.p-7 {
  padding: 6em;
}
.px-7 {
  padding: 0 6em;
}

// timeline
.timeline {
  position: relative;
  // max-width: 1200px;
  margin: 0 auto;
  list-style: none;

    /* The actual timeline (the vertical ruler) */
  &::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #111;
    top: 0;
    bottom: 0;
    left: 52%;
  }

  /* timeline-Container around content */
  .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    
    width: 50%;
  }

  /* The circles on the timeline */
  .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #fff;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the timeline-container to the left */
  .left {
    left: 0;
  }

  /* Place the timeline-container to the right */
  .right {
    left: 50.7%;
  }

  /* Add arrows to the left timeline-container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #777;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #777;
  }

  /* Add arrows to the right timeline-container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #777;
    border-width: 10px 10px 10px 0;
    border-color: transparent #777 transparent transparent;
  }

  /* Fix the circle for timeline-containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0px #c1c1c1;
  }
}
