@media (max-width: 991px) {
  .navbar-nav {
    width: 100%;
  }

  .post-body blockquote p {
    padding: 0 1em;
  }
}

@media screen and (max-width: 768px) {
  .blog-post-page {
    .post-container {
      padding: 2em 3em;
    }
  }
  .timeline {
    .right {
      left: 50%;
    }
    .left {
      left: -1.5%;
    }
  }
  .work-and-education .card {
    width: 100%;
  }
  .work-and-education .card-img-top {
    height: 60px;
  }
}

@media screen and (max-width: 550px) {
  .blog-post-page {
    .post-container {
      padding: 1em 2em;
    }
  }
  .navbar .profile-img {
    margin-top: 1em;
  }

  .timeline {
    margin-left: -30px;
    
    &::after {
      left: 60px;
    }
    .timeline-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .timeline-container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
      left: 15px;
    }
    .right {
      left: -1.5%;
    }
  }
  .work-and-education, .educational-journey {
    .card {
      width: 100%;
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}
