---
layout: default
---

<div id="home" class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 p-2">
    <!-- Blogs Work -->
    <div class="home-right-section mt-4">
      <div class="text-center">
        <h4>LATEST BLOGS</h4>
      </div>
      <div class="mt-4">
        {% for post in site.posts limit: 6 %}
          {% include blogs/post-outline.html post=post %}
        {% endfor %}
      </div>
      <div class="text-center"><a href="/blogs" role="button" class="btn btn-sm btn-dark mb-3">
        <i class="fas fa-list-alt mr-2"></i>View All</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-2">
    {% if site.data.foss.projects.size >= 1 %}
      <!-- FOSS Work -->
      <div class="home-right-section mt-4">
        <div class="text-center">
          <h4>LATEST PROJECTS</h4>
        </div>
        <div class="mt-4">
          {% for project in site.data.foss.projects limit: 6 %}
            {% include project-outline.html project=project %}
          {% endfor %}
        </div>
        <div class="text-center"><a href="/foss" role="button" class="btn btn-sm btn-dark mb-3">
            <i class="fas fa-list-alt mr-2"></i>View All</a>
        </div>
      </div>
    {% endif %}  
  </div> 
</div>
